[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=omxplayer /home/pi/Desktop/Atoms.mp4
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
